streamlit
supabase
pandas
streamlit 
pdfplumber 
pandas
PyMuPDF
openpyxl 
xlsxwriter 
seaborn 
matplotlib
BeautifulSoup4

bcrypt
python-dotenv
docx-mailmerge
python-docx
docxtpl
pdfkit



python-docx
matplotlib
docxcompose
